<% layout('layout') -%>
<h2>Add Student</h2>
<form action="/students" method="post">
  <label>Name <input name="name" required></label>
  <label>Student number <input name="student_number"></label>
  <button>Add</button>
</form>
